@import 'fonts.scss';

// DEVICE LIST //
$xs-min: "only screen and (min-width:none)";
$xs-max: "only screen and (max-width:520px)";
$xs-sm: "only screen (min-width: none) and (max-width:767px)";

$sm-min: "only screen and (min-width:768px)";
$sm-max: "only screen and (max-width:991px)";
$sm-md: "only screen (min-width: 768px) and (max-width:991px)";

$md-min: "only screen and (min-width:992px)";
$md-max: "only screen and (max-width:1199px)";
$md-lg: "only screen (min-width: 992px) and (max-width:1199px)";

$lg-min: "only screen and (min-width:1200px)";
$lg-max: "only screen and (max-width:none)";

$white: #fdfdd8;
$yellow: #c5921a;
$dark-gray: #231f20;

$element-shadow: 2px 2px 5px #424041;

$font-family-sans-serif: 'Quicksand', sans-serif;

$font-size-base: 1.2rem;
$type-toggle-size: 1.5em;
$sauce-input-size: 1.5em;

@import "../../node_modules/bootstrap/scss/bootstrap";

body {
    background-color: $dark-gray;
    background-image: url('../assets/img/img-pattern-black.png');
}

.fixed-top {
    border-radius: 0 !important;
}

.placeholder-container {
    background-color: $yellow;
    // background-color: red;
}

.navbar-wrapper {
    background-color: $yellow;

    #menu {
        background-color: $dark-gray;
        transition: top 0.50s ease-out, box-shadow 0.50s ease-in-out;
    }

    .logo-image {
        display: block;
        margin: 1em auto;
        width: 10em;
    }
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

#about-us {
    color: $white;
    background-image: url('../assets/img/img-burger-horizontal.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 400px;
    padding: 0;

    .about-us-title {
        text-align: center;
        background-color: rgba(0, 0, 0, 0.80);
        width: 100%;
        height: 50%;
    }
}


#order {
    padding: 2.5rem 0;

    .row {
        padding-right: 5px;
    }

    .order-title {
        color: $white;
        background-color: rgba(0, 0, 0, 0.35);
        margin-bottom: 2.5rem;
    }

    .burger-type-div {
        color: $yellow;
        font-weight: 700;

        img {
            width: 0.5 * $type-toggle-size;
            height: auto;
        }

        .burger-type-toggle input {
            cursor: pointer;
            position: relative;
            width: 2 * $type-toggle-size;
            height: $type-toggle-size;
            -webkit-appearance: none;
            outline: none;
            background-color: #332e30;
            border-radius: $type-toggle-size;
            box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
            transition: background-color 0.25s ease;

            &:checked {
                background-color: $yellow;
            }

            &::before {
                content: '';
                position: absolute;
                width: $type-toggle-size;
                height: $type-toggle-size;
                border-radius: 50%;
                top: 0;
                left: 0;
                background-color: $yellow;
                transform: scale(1.10);
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
                transition: 0.25s ease;
            }

            &:checked::before {
                left: $type-toggle-size;
            }
        }
    }

    .table {
        $table-border-radius: 1.5em;
    
        background-color: $yellow;
        text-align: center;
        vertical-align: middle;
        border-radius: $table-border-radius;
        box-shadow: $element-shadow;
    
        thead > tr > th {
            border-bottom: none;
            background-color: #a87d16;
    
            &:first-child {
                border-top-left-radius: $table-border-radius;
            }
    
            &:last-child {
                border-top-right-radius: $table-border-radius;
            }
        }
    
        tbody > tr > td, th {
            border-top: none;
            padding-left: 0;
            padding-right: 0;
        }
    
        tfoot > tr > td {
            font-weight: 700;
            border-top: 1px solid #231f20;
        }
    
        .ingredient-count {
            padding: 0;
            margin: 0;
    
            &:focus {
                outline: none;
            }
    
            &::placeholder {
                color: $dark-gray;
            }
        }

        .btn-circle {
            background-color: $dark-gray;
            color: $yellow;
            font-size: 1em;
            font-weight: 700;
            border-radius: 100%;
            border: none;
            width: 2em;
            height: 2em;
            padding: 0;
    
            &:disabled {
                cursor: default;
            }  
        }
    }
    
    .burger-by-layers {
        .layers-title {
            color: #c5921a;
            font-weight: 600;
            text-transform: uppercase;
            text-align: center;
        }
    
        .layers {
            display: flex;
            flex-direction: column;
            max-height: 25rem;
            overflow-y: auto;
            align-items: center;
        
            &::-webkit-scrollbar {
                padding-right: 0.25em;
                width: 5px;
            }
              
            &::-webkit-scrollbar-track {
                background: #424041;
                border-radius: 1em;
            }
            
            &::-webkit-scrollbar-thumb {
                background: #c5921a;
                border-radius: 1em;
            }
        
            .layer {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
            }
        }
    }
    
    .sauce-types {
        color: $dark-gray;
        background-color: $yellow;
        border-radius: 1em;
        box-shadow: $element-shadow;

        .sauce-div {
            display: flex;
            align-items: center;
            margin: 0.25em;

            label {
                cursor: pointer;
                display: block;
                margin: 0 0.5em;
            }

            input {
                cursor: pointer;
                -webkit-appearance: none;
                width: $sauce-input-size;
                height: $sauce-input-size;
                background-color: #ab7e16;
                box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3), 2px 2px 3px rgba(0, 0, 0, 0.15);
                border-radius: 50%;
                transition: background-color 0.3s ease;

                &:focus {
                    outline: none;
                }

                &:checked {
                    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15), 2px 2px 3px rgba(0, 0, 0, 0.3);
                }
            }

            #classic:checked {
                background-color:#eBC6a0;
            }
            
            #garlic:checked {
                background-color:#c2c0a5;
            }
            
            #ranch:checked {
                background-color:#dcfaef;
            }
        }
    }

    #order-button {
        width: 60%;
        height: 3.5em;
        border: none;
        color: #231f20;
        background-color: #c5921a;
        font-size: inherit;
        font-weight: 700;
        text-transform: uppercase;
        
        border-radius: 1em;
        box-shadow: 1px 1px 5px #424041;
        transition: box-shadow 0.15s ease, transform 0.15s ease;
    
        &:active {
            box-shadow: 2px 2px 5px #424041, inset 1px 1px 5px #241f13;
            transform: translate(2px, 2px);
        }
    }

    .coupon-field {
        color: $yellow;

        #coupon {
            background-color: initial;
            color: $white;
            border: 2px solid $yellow;
            border-radius: 1em;
            text-align: center;

            &:focus {
                outline: none;
            }
        }
    }
}

#locations {
    background-image: url('../assets/img/img-table-cafe-horizontal.jpg');
    color: $white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 2.5rem 0;
    overflow: hidden;

    .locations-title {
        display: grid;
        justify-items: center;
        align-items: center;
        text-align: center;
        vertical-align: middle;
        background-color: rgba(0, 0, 0, 0.60);
        height: 5rem;
        margin-bottom: 2.5rem;
    }

    .card {
        width: 40%;
        line-height: 1.75rem;
        background-color: rgba(0, 0, 0, 0.80);
        margin: 2.5rem 1.5rem;
        padding-top: 1rem;
        border-radius: 1em;
    }
}

footer {
    .social-networks {
        .social-button {
            width: 3rem;
            border-radius: 50%;
            box-shadow: 0 0 3px #424041;
            transition: box-shadow 0.2s ease, transform 0.2s ease;

            &:active {
                box-shadow: 1px 1px 3px #424041, inset 4px 4px 3px #241f13;
                transform: translate(2px, 2px);
            }
        }
    }

    .footer-copyright {
        font-size: 0.90 * $font-size-base;
        display: grid;
        align-items: center;
        color: $white;
    }
}

.navbar-hide {
    top: -8.5rem;
    box-shadow: none !important;
}

@include media-breakpoint-up(sm) {
    .sauce-div {
        input {
            width: 1.40 * $sauce-input-size !important;
            height: 1.40 * $sauce-input-size !important;
        }
    }
}

@include media-breakpoint-up(md) {
    .footer-copyright {
        font-size: 0.95 * $font-size-base !important;
    }
}

@include media-breakpoint-up(lg) {
    #menu {
        border-radius: 0.75em;
    }
}

@include media-breakpoint-between(xs, md){
    .navbar-wrapper {
        background-color: $yellow;
    
        #menu {
            background-color: $yellow;
            box-shadow: $element-shadow;

            .navbar-brand {
                width: 50%;
                height: 6rem;
                margin-left: 25%;

                background-image: url('../assets/img/logo.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }

            ul {
                margin-top: 0.75em;

                a {
                    border-top: 1px solid rgba(0, 0, 0, 0.50);
                    text-align: center;
                }
            }

        }
    
        .logo-image {
            visibility: hidden;
            height: 0;
            margin: 0;
        }
    }
}

@include media-breakpoint-between(xs, sm){
    .card {
        width: 90% !important;
    }

    table {
        font-size: 0.80 * $font-size-base;

        .btn-circle {
            width: 1.80em !important;
            height: 1.80em !important;
        }
    }
}

@include media-breakpoint-between(sm, md) {
    table {
        font-size: 0.90 * $font-size-base;
    } 
}

.ingredient-image-div {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: grid;
    justify-items: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.25s ease;
}