@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/quicksand/v20/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkP8o58a-wg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/quicksand/v20/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkCEv58a-wg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-size: 16pt;
    font-family: Quicksand, sans-serif;
    background-color: #231f20;
    user-select: none;
}

button {
    font-family: inherit;
    font-size: 14pt;
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.header {
    flex: 0 0 auto;
    width: 100%;
    background-color: #c5921a;
    box-shadow: 0 2px 5px #424041;
}

.header #logo {
    display: block;
    margin: 1em auto;
    width: 8.5em;
}

.main {
    display: flex;
    justify-content: space-evenly;
    flex: 1 1 auto;
    width: 90%;
    margin: 0 auto;
}

.burger {
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    align-content: center;
    row-gap: 1em;
    flex: 1 1 auto;
    margin-top: 2.5em;
    margin-left: 2em;
}

.burger .burger-title {
    grid-row: 1 / span 1;
    color: #c5921a;
    align-self: center;
    font-size: 20pt;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding-right: 1em;
}

.burger ::-webkit-scrollbar {
    padding-right: 0.25em;
    width: 5px;
}
  
.burger ::-webkit-scrollbar-track {
    background: #424041;
    border-radius: 1em;
}

.burger ::-webkit-scrollbar-thumb {
    background: #c5921a;
    border-radius: 1em;
}

.layers {
    display: flex;
    flex-direction: column;
    grid-row: 2 / span 1;
    max-height: 22.5em;
    overflow-y: auto;
    align-items: center;
    padding-right: 1em;
}

.layer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order {
    display: grid;
    align-items: center;
    color: #231f20;
    background-color: #c5921a;
    text-transform: uppercase;
    width: 10em;
    height: 3em;
    font-weight: 700;
    text-align: center;
    border-radius: 1em;
    box-shadow: 1px 1px 5px #424041;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.order:hover {
    cursor: pointer;
}

.order:active {
    box-shadow: 2px 2px 5px #424041, inset 1px 1px 5px #241f13;
    transform: translate(2px, 2px);
}

.order span {
    vertical-align: middle;
}

.coupon-field {
    color: #c5921a;
    margin-top: 1em;
}

.coupon-field #hashtag {
    margin-left: 0.5em;
    font-weight: 600;
}

.coupon-field #coupon {
    background-color: initial;
    color: #f2f3ae;
    border: 2px solid #c5921a;
    border-radius: 1em;
    font-family: inherit;
    font-size: inherit;
    width: 5em;
    text-align: center;
}

.coupon-field #coupon:focus {
    outline: none;
}

.price-table-div {
    color: #231f20;
    background-color: #c5921a;
    border-radius: 1em;
    text-align: center;
    width: 30em;
    margin: 3em auto;
    box-shadow: 2px 2px 10px #424041;
}

.price-table-div table {
    table-layout: fixed;
    border-collapse: collapse;   
    user-select: text;
}

.price-table-div button {
    cursor: pointer;
    border: initial;
    background-color: #231f20;
    color: #c5921a;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    border-radius: 50%;
    font-weight: 700;
    font-size: 20pt;
    box-sizing: border-box;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.2s ease;
    user-select: none;
}

.price-table-div button:active {
    transform: translate(1px, 1px);
}

.price-table-div button:focus {
    outline: none;
}

.price-table-div th,
.price-table-div td {
    overflow: hidden;
    width: 3em;
}

.price-table-div tr,
.price-table-div td {
    padding-bottom: 0.65em;
}

.price-table-div th {
    padding-top: 0.75em;
    padding-bottom: 0.5em;
}

.price-table-div .text-header {
    width: 8em;
}

.price-table-div tfoot td {
    padding-top: 0.75em;
    padding-bottom: 1em;
}

.price-table-div .total-row {
    border-top: 2px dashed #231f20;
    font-weight: 700;
}


.price-table-div #total {
    text-align: right;
    
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    flex: 0 0 2em;
    color: #f2f3ae;
    padding-top: 1em;
}

.social-networks {
    margin-bottom: 0.50em;
}

.social-button {
    width: 2em;
    border-radius: 50%;
    box-shadow: 0 0 3px #424041;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.social-button:active {
    box-shadow: 1px 1px 3px #424041, inset 4px 4px 3px #241f13;
    transform: translate(2px, 2px);
}