@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/quicksand/v20/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkP8o58a-wg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/quicksand/v20/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkCEv58a-wg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 16pt;
    font-family: Quicksand, sans-serif;
    background-color: #231f20;
    user-select: none;
}

button {
    font-family: inherit;
    font-size: 14pt;
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.header {
    flex: 0 0 auto;
    width: 100%;
    background-color: #c5921a;
    box-shadow: 0 2px 5px #424041;
}

.header #logo {
    display: block;
    margin: 1em auto;
    width: 8.5em;
}

.main {
    display: flex;
    justify-content: space-evenly;
    flex: 1 1 auto;
    width: 90%;
    margin: 0 auto;
}

.burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex: 3 1 0%;
    margin: 2em 0 0 2em;
}

.burger .burger-title {
    min-width: 6em;
    color: #c5921a;
    align-self: center;
    font-size: 1.15rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.burger ::-webkit-scrollbar {
    padding-right: 0.25em;
    width: 5px;
}
  
.burger ::-webkit-scrollbar-track {
    background: #424041;
    border-radius: 1em;
}

.burger ::-webkit-scrollbar-thumb {
    background: #c5921a;
    border-radius: 1em;
}

.layers {
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
    max-height: 22.5em;
    overflow-y: auto;
    padding: 0 1em;
    align-items: center;
}

.layer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.info {
    display: flex;
    flex: 1 1 auto;
    max-width: 35em;
    flex-direction: column;
    align-items: center;
}

.order {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    display: grid;
    align-items: center;
    color: #231f20;
    background-color: #c5921a;
    text-transform: uppercase;
    width: 10em;
    height: 3em;
    font-weight: 700;
    text-align: center;
    border-radius: 1em;
    box-shadow: 1px 1px 5px #424041;
    transition: box-shadow 0.15s ease, transform 0.15s ease;
}

.order:hover {
    cursor: pointer;
}

.order:active {
    box-shadow: 2px 2px 5px #424041, inset 1px 1px 5px #241f13;
    transform: translate(2px, 2px);
}

.order span {
    vertical-align: middle;
}

.coupon-field {
    color: #c5921a;
    margin-top: 1em;
}

.coupon-field #hashtag {
    margin-left: 0.5em;
    font-weight: 600;
}

.coupon-field #coupon {
    background-color: initial;
    color: #fdfdd8;
    border: 2px solid #c5921a;
    border-radius: 1em;
    font-family: inherit;
    font-size: inherit;
    width: 5em;
    text-align: center;
}

.coupon-field #coupon:focus {
    outline: none;
}

.price-table-div {
    color: #231f20;
    background-color: #c5921a;
    width: 100%;
    border-radius: 1em;
    margin: 3em auto;
    text-align: center;
    box-shadow: 2px 2px 10px #424041;
    user-select: text;
}

.price-table-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 2.5em;
    padding-bottom: 0.25em;
    align-items: center;
}

.table-header {
    font-weight: 700;
    padding-top: 0.5em;
}

.table-footer {
    height: 3em;
    font-weight: 700;
    border-top: 2px dashed #231f20;
    padding-bottom: 0;
}

.table-footer .total-label {
    grid-column: 1 / span 3;
    justify-self: right;
}

.ingredient-count-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
} 

.price-table-div button {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    border: initial;
    background-color: #231f20;
    color: #c5921a;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    border-radius: 50%;
    font-weight: 700;
    font-size: 1rem;
    box-sizing: border-box;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.2s ease;
    user-select: none;
}

.price-table-div button:active {
    transform: translate(1px, 1px);
}

.price-table-div button:focus {
    outline: none;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    flex: 0 0 2em;
    color: #fdfdd8;
    padding-top: 1em;
}

.social-networks {
    margin-bottom: 0.50em;
}

.social-button {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    width: 2em;
    border-radius: 50%;
    box-shadow: 0 0 3px #424041;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.social-button:active {
    box-shadow: 1px 1px 3px #424041, inset 4px 4px 3px #241f13;
    transform: translate(2px, 2px);
}

@media screen and (max-width: 1024px) {
    .price-table-div button {
        width: 1.4em;
        height: 1.4em;
        line-height: 1.4em;
        border-radius: 50%;
        font-size: 18pt;
    }
}

@media screen and (max-width: 768px) {

    body {
        font-size: 14pt;
    }

    .burger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        flex: 3 1 0%;
        margin: 0 0 2em 0;
    }

    .footer {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        justify-items: center;
    }

    .social-networks {
        display: flex;
        justify-content: space-evenly;
        width: 80%;
        grid-row: 2 / span 1;
    }

    .social-button {
        width: 3em;
        box-shadow: none;
    }

    .main {
        flex-direction: column;
        flex-wrap: wrap-reverse;
    }
}
  
@media screen and (max-width: 480px) {

    body {
        font-size: 12pt;
    }

    main {
        width: 100%;
    }

    .header #logo {
        margin: 0.5em auto;
        width: 6em;
    }

    .price-table-div {
        width: 100%;
        margin: 2em auto;
    }

    .social-button {
        width: 2.5em;
        box-shadow: none;
    }

    .price-table-div button {
        font-size: 0.75rem;
        width: 1.1rem;
        height: 1.1rem;
        line-height: 1.1rem;
    }
}